%span
  .well.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    %fieldset
      %legend.text-center Register
      %form
        .form-group{"data-bind" => "css: {'has-error': errors()['fullname']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['fullname']}, attr: {'data-error': errors()['fullname']}", :for => "register-form_field_1"} Fullname
          %input#register-form_field_1.form-control.validate{"aria-describedby" => "register-form_field_1_error", "data-bind" => "value: fields()['fullname']", :type => "text", :require => "true"}/
          %span#register-form_field_1_error.help-block{"data-bind" => "text: errors()['fullname']"}
        .form-group{"data-bind" => "css: {'has-error': errors()['username']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['username']}, attr: {'data-error': errors()['username']}", :for => "register-form_field_3"} Username
          %input#register-form_field_3.form-control.validate{"aria-describedby" => "register-form_field_3_error", "data-bind" => "value: fields()['username']", :type => "text", :require => "true"}/
          %span#register-form_field_3_error.help-block{"data-bind" => "text: errors()['username']"}
        .form-group{"data-bind" => "css: {'has-error': errors()['account-type']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['account-type']}, attr: {'data-error': errors()['account-type']}", :for => "register-form_field_0"} Select account type
          %select#register-form_field_0.form-control.validate{"aria-describedby" => "register-form_field_0_error", "data-bind" => "value: fields()['account-type']", :require => "true"}
            %option{:value => "master"} Master
            %option{:value => "worker"} Worker
          %span#register-form_field_0_error.help-block{"data-bind" => "text: errors()['account-type']"}
        .form-group{"data-bind" => "css: {'has-error': errors()['password']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['password']}, attr: {'data-error': errors()['password']}", :for => "register-form_field_2"} Password
          %input#register-form_field_2.form-control.validate{"aria-describedby" => "register-form_field_2_error", "data-bind" => "value: fields()['password']", :type => "password", :require => "true"}/
          %span#register-form_field_2_error.help-block{"data-bind" => "text: errors()['password']"}
      .row
        .text-center.margin__top--20px
          %a.btn.btn-primary{"data-bind" => "click: sendData"}
            REGISTER
          %br
          %p.margin__top--10px
            Already have an account, 
            %a{"data-bind" => "click: trigger.bind($data,'go-login')"}
              Log In
          %hr.separator.margin__center