.well.col-sm-10.col-xs-12.col-sm-offset-1
  .row
    .col-sm-10.col-xs-12.col-sm-offset-1
      %legend.text-center{"data-bind" => "text: campaign().name"}
  .list-group
    .col-sm-6.col-xs-12
      %a.list-group-item
        %h4.list-group-item-heading Status:
        %p.list-group-item-text{"data-bind" => "text: campaign().status"}
      %a.list-group-item
        %h4.list-group-item-heading Number of accepted images:
        %p.list-group-item-text{"data-bind" => "text: stat().accepted"}
      %a.list-group-item
        %h4.list-group-item-heading Number of annotations:
        %p.list-group-item-text{"data-bind" => "text: stat().annotation"}
    .col-sm-6.col-xs-12
      %a.list-group-item
        %h4.list-group-item-heading Number of images:
        %p.list-group-item-text{"data-bind" => "text: stat().images"}
      %a.list-group-item
        %h4.list-group-item-heading Number of rejected images:
        %p.list-group-item-text{"data-bind" => "text: stat().rejected"}
      %a.list-group-item
        %h4.list-group-item-heading Avg number of annotations per image.
        %p.list-group-item-text{"data-bind" => "text: stat().avg "}

.well.col-sm-10.col-sm-offset-1{"data-bind" => "if: campaign().status == 'ended'"}
  %div{"data-bind" => "foreach: imagesArray"}
    .panel.panel-danger.col-sm-6.col-md-4.col-lg-3{"data-bind" => "visible: selection.accepted < selection.rejected"}
      .panel-heading
        %p 
          %b
            Accepted:
          %span{"data-bind" => "text: selection.accepted"}
        %p 
          %b
            Rejected:
          %span{"data-bind" => "text: selection.rejected"}
      .panel-body
        %a{"data-bind" => "click: $parent.show"}
          %img.img-responsive.center-block.img-thumbnail.height__max--170.height__min--170.width__max--170.width__min--170{"data-bind" => "attr:{src: 'http://awt.ifmledit.org' + canonical}"}
    .panel.panel-success.col-sm-6.col-md-4.col-lg-3{"data-bind" => "visible: selection.accepted > selection.rejected"}
      .panel-heading
        %p 
          %b
            Accepted:
          %span{"data-bind" => "text: selection.accepted"}
        %p 
          %b
            Rejected:
          %span{"data-bind" => "text: selection.rejected"} 
      .panel-body
        %a{"data-bind" => "click: $parent.show"}
          %img.img-responsive.center-block.img-thumbnail.height__max--170.height__min--170.width__max--170.width__min--170{"data-bind" => "attr:{src: 'http://awt.ifmledit.org' + canonical}"}

#imagemodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-bind" => "if: modalUrl() != undefined"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
          %span.sr-only Close
        %br
        //%line-drawer.imagepreview{:params => "context: context, src: 'http://awt.ifmledit.org' + modalUrl(), pen: 0, line: ''"}
        %img.imagepreview{"data-bind" => "attr:{src: modalAnnotation()[modalI()]},style: { 'backgroundImage': 'url('+ 'http://awt.ifmledit.org'+ modalUrl() +')', 'backgroundSize':'cover','backgroundRepeat': 'no-repeat','backgroundPosition': 'center center'}", :style => "width: 100%;"}
        %br
        .row.margin__top--10px
          .col-xs-12.col-sm-6.text-right
            %a.btn.btn-default{"data-bind" => "click: nextAnnotation(-1)"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          .col-xs-12.col-sm-6
            %a.btn.btn-default{"data-bind" => "click: nextAnnotation(1)"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}