%span
  %a.col-xs-2.btn.btn-primary{"data-bind" => "click: trigger.bind($data,'campaign-create')"} Create a Campaign
  %a.col-xs-2.btn.btn-primary{"data-bind" => "click: trigger.bind($data,'campaign-edit-go')"} campaign-edit-go
  %a.col-xs-2.btn.btn-primary{"data-bind" => "click: trigger.bind($data,'campaign-change-state')"} campaign-change-state
  %c-list-campaign{:params => "context: context"}