%span
  .well.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    %fieldset
      %legend.text-center Image Upload
      %form
        .form-group{"data-bind" => "css: {'has-error': errors()['others']}"}
          %h5#login-form_field_error.help-block.text-center{"data-bind" => "text: errors()['others']"}
        .form-group{"data-bind" => "css: {'has-error': errors()['image']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['image']}, attr: {'data-error': errors()['image']}", :for => "image-upload-form_field_0"} Upload a picture!:
          %input#image-upload-form_field_0.form-control.validate.btn.btn-default{"aria-describedby" => "image-upload-form_field_0_error", "data-bind" => "event: {change: fileUpload}, value: fields()['image']", :type => "file"}
          %span#image-upload-form_field_0_error.help-block{"data-bind" => "text: errors()['image']"}
        %div
          %img.img-responsive.margin__center{"data-bind" => "attr: {src: photoUrl()}"}/
      .row
        .text-center.margin__top--20px
          %a.btn.btn-primary{"data-bind" => "click: trigger.bind($data, 'image-upload-submit')"}
            SUBMIT
          %br
          %p.margin__top--10px
            I want to select workers, 
            %a{"data-bind" => "click: trigger.bind($data,'worker-select-go')"}
              Select Worker
          %hr.separator.margin__center
          
%span
  .well.col-sm-10.col-sm-offset-1
    %div{"data-bind" => "foreach: imagesArray"}
      .panel.panel-default.col-sm-6.col-md-4.col-lg-3
        .panel-heading.text-right
          %a{"data-bind" => "click: $parent.delete"}
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
        .panel-body
          %a{"data-bind" => "click: $parent.show"}
            %img.img-responsive.center-block.img-thumbnail.height__max--170.height__min--170.width__max--170.width__min--170{"data-bind" => "attr:{src: 'http://awt.ifmledit.org' + canonical}"}/ 

#imagemodal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
          %span.sr-only Close
        %br
        %img.imagepreview{"data-bind" => "attr:{src: 'http://awt.ifmledit.org' + modalUrl()}", :style => "width: 100%;"}/


