%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#landmark-menu", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.cursor--pointer{"data-bind" => "click: trigger.bind($data,'home')"}
        %img.img__width__1c5em.pull-left{:alt => "Logo", :src => "/remofiorentino/awt-project/www/images/logo.png"}/
        %span.vertical__middle 
          Mountain
          %b.text__color--green
            Flag
    #landmark-menu.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right{"data-bind" => "if: logged() === false"}
        %li
          %a{"data-bind" => "click: trigger.bind($data,'login-go')"}
            %span.glyphicon.glyphicon-log-in{"aria-hidden" => "true"}
            Login
        %li
          %a{"data-bind" => "click: trigger.bind($data,'register-go')"}
            %span.glyphicon.glyphicon-inbox{"aria-hidden" => "true"}
            Register
      %ul.nav.navbar-nav.navbar-right{"data-bind" => "if: logged() === true"}
        %li
          %a
            %b
              Dear
              %span{"data-bind" => "text: user_name()"}
        %li{"data-bind" => "if: manager()"}
          %a{"data-bind" => "click: trigger.bind($data,'manager-go')"}
            %span.glyphicon.glyphicon-picture{"aria-hidden" => "true"}
            Manager
        %li{"data-bind" => "if: !manager()"}
          %a{"data-bind" => "click: trigger.bind($data,'task-go')"}
            %span.glyphicon.glyphicon-tasks{"aria-hidden" => "true"}
            task
        %li
          %a{"data-bind" => "click: trigger.bind($data,'account-edit-go')"}
            %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
            Edit Account
        %li
          %a{"data-bind" => "click: trigger.bind($data,'logout')"}
            %span.glyphicon.glyphicon-log-out{"aria-hidden" => "true"}
            Logout

// %line-drawer{:params => "context:context,src: 'https://upload.wikimedia.org/wikipedia/commons/4/4f/Matterhorn_Riffelsee_2005-06-11.jpg', pen: 10, line: line"}
.container
  .row
    %span{"data-bind" => "if: active() === 'account-edit-view'"}
      %c-account-edit-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'create-campaign-view'"}
      %c-create-campaign-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'edit-campaign-view'"}
      %c-edit-campaign-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'home-bar'"}
      %c-home-bar.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'image-annotation'"}
      %c-image-annotation.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'image-selection'"}
      %c-image-selection.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'image-upload-view'"}
      %c-image-upload-view.container{:params => "context: context"}
    //login-form
    %span{"data-bind" => "if: active() === 'login-view'"}
      %c-login-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'logout-view'"}
      %c-logout-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'manager-view'"}
      %c-manager-view.container{:params => "context: context"}
    //register-form
    %span{"data-bind" => "if: active() === 'register-view'"}
      %c-register-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'show-campaign'"}
      %c-show-campaign.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'task-view'"}
      %c-task-view.container{:params => "context: context"}
    %span{"data-bind" => "if: active() === 'worker-select-view'"}
      %c-worker-select-view.container{:params => "context: context"}
