.well.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
  %legend Workers
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th #
        %th Name
        %th Selector
        %th Annotator
        %th 
    %tbody{"data-bind" => "foreach: workers"}
      %tr
        %td.vertical__middle{"data-bind" => "text: ($index()+1)"}
        %td.text-capitalize.vertical__middle{"data-bind" => "text: fullname()", :style => "white-space: pre-wrap;"}
        %td
          %span{"data-bind" => "if: selector() == false"}
            %a.btn.btn-success{"data-bind" => "click: $parent.selectorBtn"}
              %span.glyphicon.glyphicon-plus-sign{"aria-hidden" => "true"}
          %span{"data-bind" => "if: selector() == true"}
            %a.btn.btn-danger{"data-bind" => "click: $parent.selectorBtn"}
              %span.glyphicon.glyphicon-minus-sign{"aria-hidden" => "true"}
        %td
          %span{"data-bind" => "if: annotator() == false"}
            %a.btn.btn-success{"data-bind" => "click: $parent.annotatorBtn"}
              %span.glyphicon.glyphicon-plus-sign{"aria-hidden" => "true"}
          %span{"data-bind" => "if: annotator() == true"}
            %a.btn.btn-danger{"data-bind" => "click: $parent.annotatorBtn"}
              %span.glyphicon.glyphicon-minus-sign{"aria-hidden" => "true"}
              
