//Remo's sass file
body{
    background-image: url("../images/background_d.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    &__width{
        &__1c5em{
            width: 1.5em;
        }
    }
}
.vertical{
    &__middle{
        vertical-align: middle !important;       
    }
}

.text{
    &__color{
        &--green{
            color: #28B62C;    
        }
    }
    &__allign{
      &--left{
        text-align: left;
      }
    }
}
.height{
  &__max{
    &--170{
      max-height: 170px;
    }
  }
  &__min{
    &--170{
      min-height: 170px;
    }
  }
}
.width{
  &__max{
    &--170{
      max-width: 170px;
    }
  }
  &__min{
    &--170{
      min-width: 170px;
    }
  }
}
.display{
  &--block{
    display: block;
  }
}

.margin{
  &__center{
    margin: 0 auto;
  }
  &__top{
    &--10px{
      margin-top:10px;
    }
    &--20px{
      margin-top:20px;
    }
  }
}

.separator{
  width: 160px;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 10px auto;
}
a{
  cursor:pointer;
}
a:hover{
  animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
}



//keyframes

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

line-drawer {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: 0;
    user-select: none
}

line-drawer > img.background {
    max-width: 100%;
    min-width: 100%;
}

line-drawer > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
