%span
  .well.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    %fieldset
      %legend.text-center Log In
      %form
        .form-group{"data-bind" => "css: {'has-error': errors()['username']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['username']}, attr: {'data-error': errors()['username']}", :for => "login-form_field_1"} Username
          %input#login-form_field_1.form-control.validate{"aria-describedby" => "login-form_field_1_error", "data-bind" => "textInput: fields()['username']", :type => "text", "placeholder" => "Username"}/
          %span#login-form_field_1_error.help-block{"data-bind" => "text: errors()['username']"}
        .form-group{"data-bind" => "css: {'has-error': errors()['password']}"}
          %label.control-label{"data-bind" => "css: {active: fields()['password']}, attr: {'data-error': errors()['password']}", :for => "login-form_field_0"} Password
          %input#login-form_field_0.form-control.validate{"aria-describedby" => "login-form_field_0_error", "data-bind" => "textInput: fields()['password']", :type => "password", "placeholder" => "Password"}/
          %span#login-form_field_0_error.help-block{"data-bind" => "text: errors()['password']"}
      .row
        .text-center.margin__top--20px
          %a.btn.btn-primary{"data-bind" => "click: trigger.bind($data, 'on-login-submit')"}
            LOG IN
          %br
          %p.margin__top--10px
            I don’t have an account, 
            %a{"data-bind" => "click: trigger.bind($data,'go-register')"}
              Register
          %hr.separator.margin__center
