%span
  .well.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    %fieldset
      %legend.text-center
        %b
          Edit your Campaign!
      %form.form-horizontal
        .form-group{"data-bind" => "css: {'has-error': errors()['others']}"}
          %h5#login-form_field_error.help-block.text-center{"data-bind" => "text: errors()['others']"}
        .form-group{"data-bind" => "css: {'has-error': errors()['name']}"}
          %label.control-label.col-lg-5.col-sm-4.text__allign--left{"data-bind" => "css: {active: fields()['name']}, attr: {'data-error': errors()['name']}", :for => "edit-campaign-form_field_2"} 
            %b 
              Name of campaign:
          .col-lg-7.col-sm-8
            %input#edit-campaign-form_field_2.form-control.validate{"aria-describedby" => "edit-campaign-form_field_2_error", "data-bind" => "value: fields()['name']", :type => "text", :placeholder => "A good name"}/
            %span#edit-campaign-form_field_2_error.help-block{"data-bind" => "text: errors()['name']"}
        %legend Image Selection
        .form-group.row{"data-bind" => "css: {'has-error': errors()['selection_replica']}"}
          %label.control-label.col-lg-5.col-sm-6.text__allign--left{"data-bind" => "css: {active: fields()['selection_replica']}, attr: {'data-error': errors()['selection_replica']}", :for => "edit-campaign-form_field_3"}
            %b 
              Minimum number of workers per image:
          .col-lg-7.col-sm-6
            %input#edit-campaign-form_field_3.form-control.validate{"aria-describedby" => "edit-campaign-form_field_3_error", "data-bind" => "value: fields()['selection_replica']", :type => "number", :min => "1", :value => "1"}/
            %span#edit-campaign-form_field_3_error.help-block{"data-bind" => "text: errors()['selection_replica']"}
        .form-group.row{"data-bind" => "css: {'has-error': errors()['threshold']}"}
          %label.control-label.col-lg-5.col-sm-6.text__allign--left{"data-bind" => "css: {active: fields()['threshold']}, attr: {'data-error': errors()['threshold']}", :for => "edit-campaign-form_field_4"} 
            %b 
              Minimum number of positive results:
          .col-lg-7.col-sm-6
            %input#edit-campaign-form_field_4.form-control.validate{"aria-describedby" => "edit-campaign-form_field_4_error", "data-bind" => "value: fields()['threshold']", :type => "number", :min => "1", :value => "1"}/
            %span#edit-campaign-form_field_4_error.help-block{"data-bind" => "text: errors()['threshold']"}
        %legend Image Annotation
        .form-group.row{"data-bind" => "css: {'has-error': errors()['annotation_replica']}"}
          %label.control-label.col-lg-5.col-sm-6.text__allign--left{"data-bind" => "css: {active: fields()['annotation_replica']}, attr: {'data-error': errors()['annotation_replica']}", :for => "edit-campaign-form_field_0"} 
            %b 
              Minimum number of workers per image:
          .col-lg-7.col-sm-6
            %input#edit-campaign-form_field_0.form-control.validate{"aria-describedby" => "edit-campaign-form_field_0_error", "data-bind" => "value: fields()['annotation_replica']",:type => "number", :min => "1", :value => "1"}/
            %span#edit-campaign-form_field_0_error.help-block{"data-bind" => "text: errors()['annotation_replica']"}
        .form-group.row{"data-bind" => "css: {'has-error': errors()['annotation_size']}"}
          %label.control-label.col-lg-5.col-sm-6.text__allign--left{"data-bind" => "css: {active: fields()['annotation_size']}, attr: {'data-error': errors()['annotation_size']}", :for => "edit-campaign-form_field_1"}
            %b 
              Width(in pixels) of the annotation line:
          .col-lg-7.col-sm-6
            %input#edit-campaign-form_field_1.form-control.validate{"aria-describedby" => "edit-campaign-form_field_1_error", "data-bind" => "value: fields()['annotation_size']", :type => "number", :min => "1", :max => "30", :value => "1"}/
            %span#edit-campaign-form_field_1_error.help-block{"data-bind" => "text: errors()['annotation_size']"}
      .row
        .text-center.margin__top--20px
          %a.btn.btn-primary{"data-bind" => "click: trigger.bind($data, 'campaign-edit-submit')"}
            EDIT
          %br
          %p.margin__top--10px
            I want to upload images, 
            %a{"data-bind" => "click: trigger.bind($data,'image-upload-go')"}
              Images Upload
          %p.margin__top--10px
            I want to select workers, 
            %a{"data-bind" => "click: trigger.bind($data,'worker-select-go')"}
              Select Worker
          %hr.separator.margin__center